<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="wrapper1">
        <div class="logo"><img src="logo.png" alt="Logo"></div>
        <div class="PS">P.S.</div>
        <div class="PEDIDO">PEDIDO DE SERVIÇOS</div>
        <div class="LOCAL">LOCAL</div>
        <div class="inputLOCAL"><input type="text"></div>
        <div class="NPS">Nº P.S.</div>
        <div class="inputNPS"><input type="text"></div>
     </div>
     <div class="wrapper2">
        <div class="CODIGO">CÓDIGO</div>
        <div class="IDEQ">IDENTIFICAÇÃO DO EQUIPAMENTO</div>
        <div class="inputCODIGO"><input type="text"></div>
        <div class="inputIDEQ"><input type="text"></div>
     </div>
     <div class="wrapper3">
        <div class="COND">COND. DO EQUIPAMENTO </div>
        <div class="inputCOND"><input type="text"></div>
        <div class="EMCONDICOES">01 - EM CONDIÇÕES DE FUNCIONAMENTO</div>
        <div class="INOPERANTE">02 - INOPERANTE</div>
        <div class="EMMONTAGEM">03 - EM MONTAGEM / COMICIONAMENTO</div>
        <div class="ALMOXARIFADO">04 - ALMOXARIFADO / OFICINA</div>
     </div>
     
</body>
</html>
