<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>Logo da Roraima Energia</div>
      <div>P.S. Pedido de Serviços</div>
      <div>
        <div>Local: Se-ST</div>
        <div>Nº P.S.: numeroPS</div>
      </div>
    </header>
    <section class="equipamento">
      <div class="codigo-equipamento">Código: SEST-1234</div>
      <div>Identificação do equipamento: SEST-4321</div>
      <div>Condição do equipamento: 02 - Inoperante</div>
      <div>Data: 04/04/2023</div>
      <div>Hora: 09:45</div>
    </section>
  </body>
</html>
